@import url("./_fonts.css");
@import url("./_tokens.css");
@import url("./_theme.dark.css");
@import url("./_theme.light.css");
@import url("./_base.css");
@import url("./_layout.css");

/* components */
@import url("./components/_nav.css");
@import url("./components/_badges.css");
@import url("./components/_buttons.css");
@import url("./components/_cards-grid.css");
@import url("./components/_gauges.css");
@import url("./components/_stats.css");
@import url("./components/_pill.css");
@import url("./components/_segmented.css");
@import url("./components/_metrics.css");
@import url("./components/_setup.css");
@import url("./components/_garage.css");
@import url("./components/_codes.css");
@import url("./components/_dashboard.css");

@import url("./_utilities.css");
@import url("./_responsive.css");